* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: tomato;
    align-items: center;
    flex-wrap: wrap;
justify-content: center;
}

.item {
    width: 200px;
    height: 200px;
    background-color: #000;
    color: #fff;
    font-size: 32px;
    border: 2px solid red;

   
    
}