* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}





.content {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    background-image: url(https://images.unsplash.com/photo-1576919228236-a097c32a5cd4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);



}




.snow1,
.snow2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://i.ibb.co/DbKS19P/snow.png);
    background-position: 0 0;
    z-index: 10;

}

.snow1 {
    background-size: 70em;
    animation: tuyet1 30s linear infinite;
}


.snow2 {
    background-size: 50em;
    animation: tuyet2 30s linear infinite;
    opacity: 0.5;
}

@keyframes tuyet1 {
    100% {
        background-position: 70em 70em;
    }
}

@keyframes tuyet2 {
    100% {
        background-position: 50em 0;
    }
}


.heart-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: relative;
    background-color: gold;
    font-family: 'Pinyon Script', cursive;
    z-index: 9;
   

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;


}


.heart {
    font-size: 20px;
    color: brown;

    position: absolute;
    bottom:-100px ;
    animation: heart 1s infinite;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }
}

.content-h1 span {
    position: relative;
    display: inline-block;
    color: green;
    padding-top: 30px;
    font-family: 'Pinyon Script', cursive;

    font-size: 2.5em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-20px);
    }

    40%,
    100% {
        transform: translateY(0px);
    }
}

.heart-container .content-h2 p {
    font-size: 25px;
    padding-top: 25px;
}

.footer {
    position: relative;
    top: 20px;


    font-family: 'Pinyon Script', cursive;
}

.name {
    color: cornflowerblue;
    font-size: 40px;
    position: absolute;
    overflow: hidden;
    animation: ct 2s infinite;

}

@keyframes ct {
    0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg);
      }


}